<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Dynatrace Rest Task</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="starter-template">
        <div id="inputData"></div>
        <div id="outputData"></div>

        <button type="submit" id="btn-load-data"
                class="btn btn-primary btn-lg">
            Load data and find prime numbers
        </button>
    </div>
</div>

<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript"
        src="webjars/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript" src="../../js/main.js"></script>
</body>
</html>